<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.warewise">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".WareWiseApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WareWise">
        
        <!-- Launcher Activity: Splash Screen -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Core Activities -->
        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".RegisterActivity" android:exported="false" />
        <activity android:name=".DashboardActivity" android:exported="false" />
        <activity android:name=".InventoryListActivity" android:exported="false" />
        <activity android:name=".AddItemActivity" android:exported="false" />
        <activity android:name=".ScanActivity" android:exported="false" />
        <activity android:name=".SettingsActivity" android:exported="false" />
        
        <!-- UI Module Activities -->
        <activity android:name=".ui.profile.ProfileActivity" android:exported="false" />
        <activity android:name=".ui.reports.ReportsActivity" android:exported="false" />
        
    </application>

</manifest>
